$orange-color: #E3B873;
$base-color: #131313;
$base-font: Futurademic;
$base-font-size: 0.9vw;
$vw18px: 1.2vw;

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.body {
    overflow-x: hidden !important;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    width: 100%;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $base-color;
    font-size: $base-font-size;
    @media (max-width: 400px) {
        height: 15.2vw;
        background: #252525;
        font-size: 3.2vw;
    }
}

.container {
    display: flex;
    margin-left: 6vw;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__logo__text {
    text-decoration: none;
    color: $orange-color;
    font-family: $base-font;
}

.header__nav {
    width: 52vw;
    display: flex;
    justify-content: center;
    @media (max-width: 400px) {
        display: none;
    }
}

.header__nav__menu {
    width: 39vw;
    display: flex;
    padding: 0;
    justify-content: space-between;
    color: #ffffff;
    font-family: Futurabookc;
    li {
        display: inline;
        a {
            &:not(.main) {
                color: #ffffff;
            }
            
            &:hover {
                color: $orange-color;
            }            
        }
    }
}

.main {
    color: $orange-color;
}

.header__contacts {
    width: 23vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 400px) {
        margin-left: 20vw;
        width: auto;    
    }
}

.header__contacts__telephone {
    color: $orange-color;
    text-decoration: underline;
    font-family: $base-font;
    @media (max-width: 400px) {
        color: #ffffff;
        text-decoration: none;        
    }
}

.header__contacts_btn {
    width: 11vw;
    height: 2.5vw;
    color: #ffffff;
    background-color: $orange-color;
    border: 0;
    border-radius: 2px;
    font-family: $base-font;
    font-size: $base-font-size;
    &:hover {
        transform: scale(1.1, 1.1);
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.aside {
    height: 48vw;
    width: 6vw;
    display: flex;
    float: left;
    justify-content: center;
    background-color: $base-color;
    text-align: center;
    color: $orange-color;
    writing-mode: tb-rl;
    a {
        color: $orange-color;
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.aside__text {
    margin: auto;
    font-family: $base-font;
    font-size: $base-font-size;
    &:after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        height: 1.5px;
        margin-top: 2.3vw;
        border: solid $orange-color;
        border-width: 0 1.7vw;
        transform: rotate(90deg);
    }
}

.banner {
    width: 100%;
    height: 48vw;
    background-image: url(assets/images/top_baner.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        height: 127vw;
    }
}

.wrapper {
    width: 40vw;
    height: inherit;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    @media (max-width: 400px) {
        margin-left: 4.8vw;
        padding-top: 22.7vw;
        width: 78vw;
        display: block;
    }
}

.banner__text__name {
    font-size: 2.7vw;
    font-family: "Yeseva One";
    @media (max-width: 400px) {
        font-size: 6vw;
    }
}

.city {
    color: $orange-color;
}

.banner__text__info {
    width: 30vw;
    margin-top: 1vw;
    font-family: Futurabookc;
    font-size: 1.5vw;
    @media (max-width: 400px) {
        width: 77vw;
        font-size: 4.9vw;
    }
}

.banner__btns__btn {
    margin-top: 3vw;
    width: 14vw;
    height: 3vw;
    color: #ffffff;
    background: none;
    border: solid 1px;
    border-radius: 2px;
    font-family: Futurademic;
    font-size: $base-font-size;
    &:hover {
        background-color: $orange-color;
        border: 0;
    }
    &:first-child {
        background-color: $orange-color;
        border: 0;
    }
    @media (max-width: 400px) {
        margin-top: 8vw;
        width: 90.3vw;
        height: 13.6vw;
        font-size: 3.5vw;
    }
}

.scroll {
    width: 15.5vw;
    height: 6.5vw;
    position: absolute;
    top: 51vw;
    display: flex;
    justify-content: center;
    background-color: $base-color;
    @media (max-width: 400px) {
        display: none;
    }
    
}

.scroll__item {
    display: flex;
    align-items: center;
    
}

.scroll__item__text {
    margin-right: 1vw;
    color: #ffffff;
    font-family: "Yeseva One";
    font-size: $base-font-size;
    &:hover {
        color: $orange-color;
    }
}

.scroll__item__image {
    width: 2vw;
    height: 2vw;
}

.slider {
    width: 100%;
    height: 72vw;
    background-image: url(assets/images/city.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        height: 398vw;
        background: #252525;
        .container {
            margin-left: 0;
            flex-direction: column;
        }
    }
}

.slider__info {
    height: 26vw;
    width: 29vw;
    margin-top: 12vw;
    @media (max-width: 400px) {
        margin-top: 9.6vw;
        width: 100vw;
    }
}

.slider__info__name {
    @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
}

.slider__info__name__project {
    width: 18vw;
    color: $orange-color;
    font-family: "Yeseva One";
    font-size: 1.9vw;
    letter-spacing: -0.1vw;
    &:after {
        content: "";
        margin-left: 5vw;
        position: absolute;
        top: 66.3vw;
        display: inline-block;
        box-sizing: border-box;
        border: solid $orange-color;
        border-width: 3vw 1px;
        transform: rotate(90deg);
    }
    @media (max-width: 400px) {
        margin-bottom: 6vw;
        width: 36vw;
        font-size: 5.9vw;
        &:after {
            display: none;
        }
    }
}

.slider__info__name__text {
    margin-top: 2vw;
    margin-bottom: 3vw;
    color: #ffffff;
    font-family: Futurabookc;
    font-size: $vw18px;
    @media (max-width: 400px) {
        font-size: 3.6vw;
        width: 80vw;
        line-height: 158.48%;
    }
}

.slider__info__apartments__box {
    height: 13vw;
    display: flex;
    flex-flow: wrap;
    @media (max-width: 400px) {
        margin-left: 4.7vw;
        margin-top: 80.5vw;
        height: 19.2vw;
    }
}

.slider__info__apartments {
    width: 13vw;
    height: 2vw;
    color: #ffffff;
    font-size: 1vw;
    @media (max-width: 400px) {
        width: 43vw;
        height: 22.2vw;
        font-size: 3.7vw;
    }
}

.slider__info__apartments__name {
    margin-bottom: 0.6vw;
    color: $orange-color;
    font-family: "Yeseva One";
    font-size: $vw18px;
    @media (max-width: 400px) {
        margin-bottom: 3vw;
        font-size: 3.7vw;
    }
}

.slider__info__apartments__text {
    width: 8vw;
    font-family: Futurabookc;
    @media (max-width: 400px) {
        width: 22vw;
    }
}

.slider__apartments {
    margin-top: 6vw;
    margin-left: 3.5vw;
    @media (max-width: 400px) {
        margin-left: 0;
    }
}

.slider__apartments__nav {
    @media (max-width: 400px) {
        display: none;
    }
}

.slider__apartments__nav__menu {
    width: 39vw;
    display: flex;
    padding: 0;
    justify-content: space-between;
    color: #ffffff;
    font-family: Futurabookc;
    font-size: $base-font-size;
    li {
        display: inline;
        a {
            &:not(.main) {
                color: #ffffff;
                opacity: 0.3;
            }
            &:hover {
                border-bottom: solid 0.01vw $orange-color;
                padding-bottom: 0.3vw;
                color: $orange-color;
                opacity: 1;
            }
            
        }
        .main {
            border-bottom: solid 0.01vw $orange-color;
            padding-bottom: 0.3vw;
            color: $orange-color;
            opacity: 1;
        }
    }
}

.slider__apartments__image {
    margin-top: 4vw;
    display: flex;
    @media (max-width: 400px) {
        justify-content: center;
    }
}

.slider__apartments__image__first {
    height: 33.5vw;
    width: 47vw;
    background-repeat: no-repeat;
    background-image: url(assets/images/slider_first.png);
    background-size: cover;
    @media (max-width: 400px) {
        margin-top: 17.6vw;
        height: 64.3vw;
        width: 100.7vw;
        background-image: url(assets/images/mobile__project.png);
    }
}

.slider__apartments__image__second {
    margin-left: 1.5vw;
    width: 13vw;
    background-repeat: no-repeat;
    background-image: url(assets/images/slider_first.png);
    background-size: cover;
    @media (max-width: 400px) {
        display: none;
    }
}

.slider__apartments__image__next {
    position: absolute;
    right: 2vw;
    top: 79vw;
    width: 6vw;
    height: 6vw;
    &:last-child {
        right: 0;
        left: 9px;
        display: none;
        transform: rotate(180deg);
    }
    &:hover {
        transform: scale(1.1, 1.1);
    }
    @media (max-width: 400px) {
        right: 4vw;
        top: 232.5vw;
        width: 60px;
        height: 60px;
        &:last-child {
            left: 4vw;
            display: block;
        }
    }
}

.slider__info__carousel__arrow_left {
    height: 1vw;
    width: 3vw;
    background-image: url(assets/images/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.slider__info__carousel {
    margin-top: 6vw;
    width: 14vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main {
        opacity: 1;
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.slider__info__carousel__arrow_right {
    height: 1vw;
    width: 3vw;
    background-image: url(assets/images/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.slider__info__carousel__circle {
    background-color: #ffffff;
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 50%;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.slider__icon {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 400px) {
        margin-top: 53vw;
    }
}

.slider__icon__text {
    font-size: 1.35vw;
    font-family: "Yeseva One";
    color: #ffffff;
    @media (max-width: 400px) {
        font-size: 5.8vw;
    }
}

.slider__icon__cam {
    margin-top: 1vw;
    height: 2vw;
    width: 8vw;
    background-image: url(assets/images/icon_cam.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 400px) {
        margin-top: 5.4vw;
        height: 8vw;
        width: 30vw;
    }
}

.video {
    position: absolute;
    top: 112vw;
    left: 22vw;
    width: 54.5vw;
    height: 29vw;
    border: 0;
    @media (max-width: 400px) {
        top: 353.5vw;
        left: 5vw;
        width: 90.5vw;
        height: 55vw;
    }
}

.repair {
    height: 179vw;
    width: 100%;
    background-image: url(assets/images/bg_build.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        margin-left: 6.7vw;
        margin-right: 6.7vw;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 400px) {
            margin-left: 4.8vw;
            margin-right: 4.8vw;
        }
    }
    @media (max-width: 400px) {
        height: 510vw;
        background: #ffffff;
    }
}

.repair__icon_line {
    margin-top: 18.3vw;
    height: 1vw;
    width: 45vw;
    background-image: url(assets/images/line.svg);
    background-position-x: 41.5vw;
    background-repeat: no-repeat;
    @media (max-width: 400px) {
        margin-top: -124.9vw;
        width: 50vw;
        background-position-x: 35.5vw;
    }
}

.repair__text {
    margin-left: 18.5vw;
    margin-top: 2.3vw;
    width: 50.5vw;
    font-family: Futurabookc;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2.3vw;
    @media (max-width: 400px) {
        margin-left: 0;
        margin-top: 3vw;
        width: 100%;
        font-size: 3.9vw;
        line-height: 169.8%;
        color: #ffffff;
    }
}

.repair__sub {
    width: 100%;
    display: flex;
    justify-content: center;
    .repair__submit {
        display: none;
    }
    @media (max-width: 400px) {   
        flex-direction: column;
        .repair__submit {
            display: block;
        }
    }
}

.repair__sub__input {
    margin-right: 3.3vw;
    height: 3vw;
    width: 15.5vw;
    border: 0;
    border-bottom: solid 1px;
    border-color: rgba(54, 54, 54, 0.3);
    font-family: Futurabookc;
    font-size: $vw18px;
    &::-webkit-input-placeholder {
        color: #363636;
    }
    &::-moz-placeholder {
        color: #363636;
    }
    &:-ms-placeholder {
        color: #363636;
    }
    @media (max-width: 400px) {   
        width: 100%;
        height: 8vw;
        border-color: #ffffff;
        font-size: 4.8vw;
        color: #ffffff;
        &::-webkit-input-placeholder {
            color: #ffffff;
        }
        &::-moz-placeholder {
            color: #ffffff;
        }
        &:-ms-placeholder {
            color: #ffffff;
        }
    }
}

.repair__sub__btn {
    width: 13.4vw;
    height: 3.5vw;
    color: #ffffff;
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    font-family: Futurademic;
    font-size: 1vw;
    @media (max-width: 400px) {
        margin-top: 28.5vw;
        width: 90.8vw;
        height: 14.1vw;
        font-size: 4vw;
    }
}

input[type=text] {
    background: none;
    &:focus {
        outline: none;
    }
}

input[type=submit] {
    &:focus {
    outline: none;
    }
    &:hover {
        transform: scale(1.1, 1.1);
    }
}

button {
    &:focus {
        outline: none;
    }
    
}

.repair__submit {
    margin-left: 17.8vw;
    margin-bottom: -0.8vw;
    margin-top: 6.1vw;
    display: flex;
    @media (max-width: 400px) {  
        margin-left: 0;
        margin-top: 10.7vw;
    }
}

.repair__submit__text {
    margin-right: 16.4vw;
    font-family: Futurabookc;
    font-size: 1vw;
    color: rgba(54, 54, 54, 0.5);
    @media (max-width: 400px) {  
        font-size: 4vw;
        color: rgba(255, 255, 255, 0.5);
        &:nth-child(2) {
            display: none;
        }
    }
}

.repair__check {
    margin-top: 2.3vw;
    display: flex;
    justify-content: center;
    @media (max-width: 400px) {  
        position: absolute;
        top: 511vw;    
    }
}

.mycheckbox__default {
    display: none;
    &:checked + .mycheckbox__new::after {
        height: 25px;
        width: 25px;
        border-radius: 4px;
    }
}

.mycheckbox__new {
    position: relative;
    width: 1.2vw;
    height: 1.2vw;
    background-color: $orange-color;
    border: 1px solid #222;
    &::after {
        content: "";
        left: 50%;
        top: 50%;
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        background: url(assets/images/icon_checkbox.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    @media (max-width: 400px) {  
        width: 4.8vw;
        height: 4.8vw;  
    }
}

input:required {
    border: 1px solid red;
}

.repair__check__text {
    margin-left: 1vw;
    font-family: Futurabookc;
    font-size: 1.07vw;
    @media (max-width: 400px) {
        color: #FFFFFF;
        font-size: 4.27vw;
    }
}

.repair__types {
    margin-top: 9.9vw;
    width: 100%;
    height: 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: center;
        font-family: "Yeseva One";
        font-size: 1.35vw; 
        @media (max-width: 400px) {
            font-size: 5.8vw;
        }
    }
    @media (max-width: 400px) {
        margin-top: 15.5vw;
        height: auto;
    }
}

.repair__types__icon {
    margin-top: 1vw;
    height: 2vw;
    width: 8vw;
    background-image: url(assets/images/icon_types.svg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        margin-top: 5vw;
        height: 7.6vw;
        width: 31.5vw;
        background-size: contain;
    }
}

.price {
    margin-left: 2vw;
    margin-top: 2vw;
    @media (max-width: 400px) {
        margin-top: 10.7vw;
        margin-left: 0;
    }
}

.price__image {
    @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
    }
}

.price__image__slide {
    height: 28vw;
    width: 26.2vw;
    &:nth-child(2) {
        margin-right: 2vw;
        margin-left: 2vw;
        @media (max-width: 400px) {
            margin: 47.4vw 0 47.4vw 0;
        }
    }
    @media (max-width: 400px) {
        height: 97.3vw;
        width: 90.6vw;
    }
}

.price__info {
    position: absolute;
    top: 209vw;
    display: flex;
    @media (max-width: 400px) {
        top: 651.5vw;
        flex-direction: column;
    }
}

.price__info__text {
    margin-left: 4vw;
    height: 22vw;
    width: 18vw;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    &:nth-child(2) {
        margin-left: 10.5vw;
        margin-right: 6.4vw;
        @media (max-width: 400px) {
            margin: 80.4vw 0 81vw 0;
        }
    }
    ul {
        padding-left: 2.7vw;
        margin-top: 1vw;
        margin-left: 0.4vw;
        line-height: 1.7vw;
        font-family: Futurabookc;
        font-size: 1vw;
        color: #959595;
        @media (max-width: 400px) {
            margin-left: 8.3vw;
            margin-top: 4vw;
            font-size: 3.5vw;
            line-height: 169.8%;
        }
    }
    @media (max-width: 400px) {
        margin-left: 0;
        height: 64.3vw;
        width: 72vw;
    }
}

.price__info__text__name {
    margin-left: 2vw;
    margin-top: 1.7vw;
    font-family: "Yeseva One";
    font-size: $vw18px;
    @media (max-width: 400px) {
        margin-left: 8.3vw;
        margin-top: 5.6vw;
        font-size: 4vw;
    }
}

.price__btns__cost {
    position: absolute;
    z-index: 1;
    top: 229.1vw;
    width: 15.3vw;
    height: 3.6vw;
    color: #ffffff;
    background-color: $orange-color;
    border: 0;
    border-radius: 2px;
    font-family: "Yeseva One";
    font-size: $vw18px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    &:first-child {
        left: 12.7vw;
        @media (max-width: 400px) {
            top: 710.5vw;
            left: 5vw;
        }
    }
    &:nth-child(2) {
        left: 41.2vw;
        @media (max-width: 400px) {
            top: 855.5vw;
            left: 5vw;
        }
    }
    &:last-child {
        left: 69.55vw;
        @media (max-width: 400px) {
            top: 1000.5vw;
            left: 5vw;
        }
    }
    @media (max-width: 400px) {
        width: 50.7vw;
        height: 10.7vw;
        font-size: 4vw;
    }
}

.amenities {
    margin-top: 26vw;
    @media (max-width: 400px) {
        display: none;
    }
}

.amenities__info {
    display: flex;
    flex-flow: wrap;
}

.amenities__info__circle {
    margin-left: -7vw;
    height: 46vw;
    width: 52.3vw;;
    background-image: url(assets/images/aclipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    p {
        font-family: Futuramediumc;
        font-size: $vw18px;
        &:first-child {
            padding-top: 7.7vw;
            margin-left: 28vw;
        }
        &:nth-child(2) {
            margin-top: 5.4vw;
            margin-left: 32.7vw;
        }
        &:nth-child(3) {
            margin-top: 9.2vw;
            margin-left: 34.3vw;
        }
        &:last-child {
            margin-top: 8.7vw;
            margin-left: 30vw;
            width: 14vw;
        }
        
    }
}

.amenities__info__form {
    margin-left: 3.6vw;
    margin-top: 6.5vw;
    height: 34vw;
    width: 33.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.amenities__info__form__text {
    width: 16vw;
    text-align: center;
    font-family:Futurademic;
    font-size: 1.35vw;
    color: #ffffff;

}

.amenities__info__form__name {
    width: 10.7vw;
    margin-bottom: -3vw;
    color: rgba(255, 255, 255, 0.5);
}

.amenities__info__form__input {
    width: 27vw;
    margin-right: 0;
    border-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-family: Futurademic;
    font-size: $vw18px;
    &::-webkit-input-placeholder {
        color: #ffffff;
    }
    &::-moz-placeholder {
        color: #ffffff;
    }
    &:-ms-placeholder {
        color: #ffffff;
    }
    
}

.amenities__info__form__check {
    width: 27vw;
    display: flex;
}

.amenities__info__form__check__text {
    margin-left: 0.7vw;
    color: #ffffff;
    font-family: Futurabookc;
    font-size: 1.1vw;
}

.amenities__info__form__btn {
    margin-left: 13.7vw;
}

.amenities__save {
    width: 77.5vw;
    margin-top: -3.7vw;
    display: flex;
    justify-content: flex-end;
}

.amenities__save__icon {
    height: 7.5vw;
    width: 7.5vw;

}

.amenities__save__text {
    margin-top: 1.3vw;
    width: 17vw;
    font-family: Futurademic;
    font-size: 1.53vw;
    color: $orange-color;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.styles {
    height: 60vw;
    display: flex;
    background-image: url(assets/images/house.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        margin-top: -35.2vw;
        height: auto;
        background: none;
        flex-direction: column;
    }
}

.styles__list {
    margin-top: 9.2vw;
    margin-left: 6.6vw;
    @media (max-width: 400px) {
        height: 16vw;
        width: 87%;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -ms-center;
    }
}

.styles__list__name {
    width: 20vw;
    font-family: "Yeseva One";
    font-size: 1.8vw;
    color: $orange-color;
    @media (max-width: 400px) {
        width: 69%;
        font-size: 5.8vw;
        line-height: 138.6%;
        text-align: center;
    }
}

.styles__list__text {
    margin-top: 3.1vw;
    padding: 0;
    li {
        margin-bottom: 1.5vw;
        display: block;
        font-family: "Proxima Nova";
        font-size: 1.3vw;
        color: #ffffff;
        a {
            color: #ffffff;
            &:hover {
            border-bottom: solid 0.01vw $orange-color;
            padding-bottom: 0.2vw;
            color: $orange-color;
            opacity: 1;
            }
        }
        
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.styles__images_mobile {
    display: none;
    background-image: url(assets/images/house_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        margin-top: 7.2vw;
        margin-left: 4.8vw;
        height: 64.5vw;
        width: 90.6vw;
        display: block;
    }
}

.styles__images_mobile__next {
    top: 1072vw;
}

.styles__images_first {
    margin-left: 13vw;
    margin-top: -2.7vw;
    width: 26.2vw;
    img {
        &:first-child {
            margin-bottom: 2.4vw;
            width: 24.5vw;
            height: 38.6vw;
        }
        &:last-child {
            width: 24.5vw;
            height: 24.2vw;
        }
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.styles__images_second {
    margin-left: 1.2vw;
    margin-top: -7.5vw;
    width: 26.2vw;
    img {
        &:first-child {
            margin-bottom: 2.4vw;
            width: 24.6vw;
            height: 19.1vw;
        }
        &:last-child {
            width: 24.6vw;
            height: 43.4vw;
        }
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.design {
    height: 29.2vw;
    .container {
        margin-left: 6.7vw;
        margin-right: 6.7vw;
        flex-direction: column;
        @media (max-width: 400px) {
            margin-left: 4.7vw;
            margin-right: 4.7vw;
        }
    }
    @media (max-width: 400px) {
        margin-top: -32.4vw;
        height: 1193vw;
        background: #252525;
    }
}

.design__head {
    margin-top: 10.3vw;
    text-align: center;
    @media (max-width: 400px) {
        margin-top: 46.1vw;
        color: #ffffff;
    }
}

.design__head__name__text {
    font-family: "Yeseva One";
    font-size: 1.3vw;
    @media (max-width: 400px) {
        font-size: 5.8vw;
    }
}

.design__head__name__icon {
    margin: 0.8vw 0 1.5vw 39vw;
    height: 2vw;
    width: 7.6vw;
    background-image: url(assets/images/icon_pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 400px) {
        margin: 2.8vw 0 6.2vw 31.6vw;
        height: 7.5vw;
        width: 29.6vw;
    }
}

.design__head__text {
    margin-left: 22vw;
    width: 44vw;
    font-family: Futurabookc;
    font-size: 1.3vw;
    @media (max-width: 400px) {
        margin-left: 9vw;
        width: 74vw;
        font-size: 4vw;
        line-height: 135.84%;
    }
}

.design__price {
    @media (max-width: 400px) {
        margin-top: 10.4vw;
    }
}

.design__price__info {
    top: 405.5vw;
    @media (max-width: 400px) {
        top: 1239.5vw;
    }

}

.design__price__info__text {
    height: fit-content;
    height: -moz-fit-content;
    height: -ms-fit-content;
    height: max-content;
    ul {
        margin-bottom: 3.4vw;
    }
    &:nth-child(2) {
        @media (max-width: 400px) {
            margin: 99.4vw 0 80vw 0;
        }
    }
    &:last-child {
        display: none;
        @media (max-width: 400px) {
            padding-bottom: 6vw;
            display: block;
        }
    }
    @media (max-width: 400px) {
        padding-bottom: 6vw;
        &:nth-child(3) {
            display: none;
        }
    }
}

.design__price__btns__cost {
    &:first-child {
        top: 417.9vw;
        @media (max-width: 400px) {
            top: 1280.5vw;
            left: 4.6vw;
        }
    }
    &:nth-child(2) {
        top: 422.8vw;
        @media (max-width: 400px) {
            top: 1444vw;
            left: 4.6vw;
        }
    }
    &:last-child {
        top: 431.1vw;
        @media (max-width: 400px) {
            top: 1588vw;
            left: 4.6vw;
        }
    }
}

.working {
    height: 107.5vw;
    width: 100%;
    background-image: url(assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        margin-top: 11vw;
        margin-left: 8.7vw;
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.working__slider {
    margin-top: 28.6vw;
    width: 22.5vw;
    height: 34.4vw;
}

.working__slider__how {
    margin-bottom: 1vw;
    font-family: $base-font;
    font-size: 1vw;
    color: #ffffff;
}

.working__slider__name {
    width: 12vw;
    margin-bottom: 6.3vw;
    font-family: "Yeseva One";
    font-size: 1.8vw;
    color: $orange-color;
    &:after {
        content: "";
        margin-left: 8vw;
        position: absolute;
        top: 436.2vw;
        display: inline-block;
        box-sizing: border-box;
        border: solid $orange-color;
        border-width: 3vw 1px;
        transform: rotate(90deg);
    }
}

.working__slider__pages {
    margin-bottom: 1.5vw;
    font-family: "Yeseva One";
    font-size: $vw18px;
    color: #ffffff;
}

.working__slider__text_name {
    margin-bottom: 1vw;
    font-family: "Yeseva One";
    font-size: 1vw;
    color: $orange-color;
}

.working__slider__text {
    margin-bottom: 1vw;
    font-family: Futurabookc;
    font-size: 1vw;
    color: #ffffff;
}

.working__slider__carousel {
    width: 19vw;
}

.working__pages {
    margin-top: 32vw;
}

.working__pages__steps {
    display: flex;
    flex-wrap: wrap;
}

.working__pages__steps__stage {
    margin-left: 13.7vw;
    margin-top: 2.4vw;
    width: 8vw;
    font-size: 1vw;
    color: #ffffff;
    opacity: 0.3;
    &:hover {
        opacity: 1;
        a {
            border-bottom: solid 0.01vw $orange-color;
            padding-bottom: 0.3vw;
            
        }
    }
}

.working__pages__steps__stage__number {
    font-family: "Yeseva One";
    color: #ffffff;
}

.working__pages__steps__stage__text {
    margin-top: $vw18px;
    font-family: Futurabookc;
}

.working__pages__image {
    margin-top: 3vw;
    margin-left: 13.3vw;
    width: 50.8vw;
    height: 25vw;
    background-image: url(assets/images/stages.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.team {
    position: absolute;
    top: 485.4vw;
    @media (max-width: 400px) {
        top: 1618.6vw;
    }
}

.team__head {
    margin: 0 0 0 33vw;
    text-align: center;
    color: #ffffff;
    @media (max-width: 400px) {
        margin: 0px 0px 0 4vw;
    }
}

.team__head__name {
    margin-bottom: 0.8vw;
    width: 34.4vw;
    font-family: "Yeseva One";
    font-size: 1.34vw;
    @media (max-width: 400px) {
        width: 92.4vw;
        font-size: 5.8vw;
    }
}

.team__head__icon {
    margin-left: 13.4vw;
    height: 2vw;
    width: 7.6vw;
    background-image: url(assets/images/icon_heat.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 400px) {
        margin-top: 3.2vw;
        margin-bottom: 6.4vw;
        margin-left: 31.7vw;
        height: 7.5vw;
        width: 29.6vw;
    }
}

.team__head__text {
    margin-left: 3vw;
    margin-top: 1.6vw;
    width: 30vw;
    font-family: Futurabookc;
    font-size: 1.34vw;
    @media (max-width: 400px) {
        margin: 0px 0px 0 4vw;
        width: 86vw;
        font-size: 4vw;
        line-height: 135.84%;
    }
}

.team__people {
    margin-top: 5.4vw;
    .container {
        margin-left: 6.7vw;
        margin-right: 6.7vw;
        flex-direction: column;
        @media (max-width: 400px) {
            margin-left: 4.8vw;
            margin-right: 4.8vw;
        }
    }
    @media (max-width: 400px) {
        margin-top: 23.4vw;
    }
}

.team__people__image {
    width: 84.7vw;
    display: flex;
    justify-content: space-around;
    @media (max-width: 400px) {
        align-items: flex-end;
        width: 90.3vw;
    }
}

.team__people__image__slide {
    height: 23.9vw;
    width: 18.2vw;
    @media (max-width: 400px) {
        height: 110.4vw;
        width: 81vw;
    }
}

.team__people__icons {
    position: absolute;
    top: 11vw;
    left: 9.5vw;
    @media (max-width: 400px) {
        top: 44.5vw;
        left: 0;
        display: flex;
        flex-direction: column;
    }
}

.team__people__icons__image {
    height: 7.4vw;
    width: 7.4vw;
    &:nth-child(2) {
        margin-left: 21vw;
        margin-right: 21.3vw;
        @media (max-width: 400px) {
            margin: 128vw 0 129vw 0;
        }
    }
    @media (max-width: 400px) {
        height: 29.4vw;
        width: 29.4vw;
    }
}

.team__people__info {
    top: 33vw;
    @media (max-width: 400px) {
        top: 143vw;
        left: 17.7vw;
    }
}

.team__people__info__text {
    margin-left: 5.6vw;
    height: 9.2vw;
    width: 15.6vw;
    &:nth-child(2) {
        margin: 0 7.8vw 0 13.2vw;
        @media (max-width: 400px) {
            margin: 117.4vw 0 123vw 5.6vw;
            height: 36.5vw;
            width: 62.1vw;
        }
    }
    @media (max-width: 400px) {
        height: 36.5vw;
        width: 62.1vw;
    }
}

.team__people__info__text__name {
    margin-left: 0;
    margin-bottom: 0.7vw;
    margin-top: 1.2vw;
    text-align: center;
    @media (max-width: 400px) {
        margin-top: 7vw;
        margin-bottom: 2.8vw;
        font-size: 5vw;
    }
}

.team__people__info__text__speciality {
    font-family: Futurabookc;
    font-size: $vw18px;
    color: #959595;
    text-align: center;
    @media (max-width: 400px) {
        font-size: 5vw;
    }
}

.team__people__btns__stage {
    top: 39.1vw;
    width: 15.6vw;
    height: 3.1vw;
    font-size: $base-font-size;
    &:first-child {
        left: 14.3vw;
        @media (max-width: 400px) {
            top: 171.2vw;
            left: 23.3vw;
        }
    }
    &:nth-child(2) {
        left: 43.1vw;
        @media (max-width: 400px) {
            top: 329.2vw;
            left: 23.3vw;
        }
    }
    &:last-child {
        left: 72.1vw;
        @media (max-width: 400px) {
            top: 487vw;
            left: 23.3vw;
        }
    }
    @media (max-width: 400px) {
        height: 11.7vw;
        width: 62vw;
        font-size: 3.5vw;
    }
}

.team__icon__line {
    margin-left: 49%;
    margin-top: 7.3vw;
    height: 0.2vw;
    width: 3.7vw;
    background-image: url(assets/images/icon_line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 400px) {
        display: none;
    }
}

.team_info {
    margin: 1.2vw 30vw;
    text-align: center;
    @media (max-width: 400px) {
        display: none;
    }
}

.team__info__text {
    width: 40vw;
    font-family: Futurabookc;
    font-size: 1.34vw;
}

.clients {
    height: 98.5vw;
    background-image: url(assets/images/white_city.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        flex-direction: column;
    }
    @media (max-width: 400px) {
        display: none;
    }
}

.clients__head {
    margin: 31.3vw 0 0 32vw;
    text-align: center;
}

.clients__head__text {
    margin-left: 0;
    width: 24vw;
}

.clients__head__name__text {
    width: 24vw;
}

.clients__head__name__icon {
    margin-left: 8.4vw;
    background-image: url(assets/images/icon_hands.svg);
}

.clients__comments__page {
    height: 28.6vw;
    width: 25.14vw;
    display: flex;
    flex-flow: wrap;
    background-color: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    &:nth-child(2) {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

.clients__comments {
    margin-top: 3.4vw;
    display: flex;
}

.clients__comments__page__imag {
    margin-top: 1.6vw;
    margin-left: 1.4vw;
    height: 5.2vw;
    width: 5.2vw;
}

.clients__comments__page__name {
    margin-left: 1.4vw;
    margin-top: 2.8vw;
    width: 12vw;
    font-family: "Yeseva One";
    font-size: $vw18px;
}

.clients__comments__page__text {
    margin-left: 1.4vw;
    margin-top: -6.5vw;
    width: 21.7vw;
    font-family: Futurabookc;
    font-size: 1vw;
    color: #959595;
    line-height: 180%;
}

.clients__comments__box {
    height: 3.6vw;
    width: 19.7vw;
    display: flex;
    background-color: $orange-color;
}

.clients__comments__box {
    display: flex;
    &:nth-child(2) {
        margin-left: 12.5vw;
        margin-right: 12.4vw;
    }
}

.clients__comments__boxes {
    margin-top: -1.7vw;
    display: flex;
    
}

.clients__comments__box__btn {
    padding-right: 1.1vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    &:first-child {
        border-right: solid 0.1vw #ffffff;
    }
}

.clients__comments__box__text {
    margin-left: 1.3vw;
    font-family: "Yeseva One";
    font-size: 1.1vw;
    color: #FFFFFF;
}

.clients__comments__box__icon {
    height: 2.2vw;
    width: 2.2vw;
}

.question {
    position: absolute;
    top: 594.4vw;
    margin-left: 20.5%;
    width: 59.1vw;
    height: 29.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    @media (max-width: 400px) {
        top: 2137.5vw;
        margin-left: 0;
        width: 100%;
        height: 130.8vw;
        background: #252525;
    }
}

.question__name {
    margin-top: 2.3vw;
    font-family: "Yeseva One";
    font-size: 1.3vw;
    @media (max-width: 400px) {
        margin-top: 0;
        font-size: 5.4vw;
    }
}

.question_submit {
    margin-top: 3.1vw;
    margin-left: 3vw;
    @media (max-width: 400px) {
        margin-top: 14.4vw;
        margin-left: 0;
    }
}

.question_submit__text {
    margin-right: 17.9vw;
    color: rgba(255, 255, 255, 0.5);
    &:nth-child(2) {
        padding-right: 2.7vw;
        margin-left: -5.5vw;
    }
    @media (max-width: 400px) {
        margin-right: 80.9vw;
        font-size: 4vw;
    }
}

.question_submit__text1 {
    margin-right: 34vw;
    color: rgba(255, 255, 255, 0.5);
    @media (max-width: 400px) {
        margin-right: 76vw;
    }
}

.question__sub {
    width: 34.8vw;
    justify-content: start;
    .question_submit {
        display: none;
        @media (max-width: 400px) {
            display: block;
        }
    }
    @media (max-width: 400px) {
        width: 90.4%;
    }
}

.question__check {
    margin-top: 3.1vw;
    margin-bottom: 3.4vw;
    @media (max-width: 400px) {
        top: 90.5vw;
        margin-left: -7.7vw;
    }
}

.question__sub__input {
    color: #ffffff;
    &:last-child {
        width: 100%;
    }
    &::placeholder {
        color: #ffffff;
    }
    &::-webkit-input-placeholder {
        color: #ffffff;
    }
    &::-moz-placeholder {
        color: #ffffff;
    }
    &:-ms-placeholder {
        color: #ffffff;
    }
}

.geo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/images/section_geo.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 400px) {
        width: 100%;
        height: 130.8vw;
        background: #252525;
    }
}

.geo__name {
    margin-top: 16.5vw;
    width: 36vw;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 1.3vw;
    color: $orange-color;
    @media (max-width: 400px) {
        margin-top: 87vw;
        width: 85vw;
        font-size: 5vw;
    }
}

.geo__map {
    margin-bottom: 4.4vw;
    mix-blend-mode: luminosity;
    @media (max-width: 400px) {
        margin-top: -116.8vw;
    }
}

.geo__map__iframe {
    height: 31.1vw;
    width: 61.9vw;
    @media (max-width: 400px) {
        height: 68vw;
        width: 90.7vw;
    }
}

.geo__icons {
    margin-bottom: 2.9vw;
    margin-top: 1.8vw;
    @media (max-width: 400px) {
        margin-left: 6vw;
        margin-top: 6vw;
    }
}

.geo__icons__img {
    margin-right: 0.9vw;
    height: 1.9vw;
    width: 1.9vw;
    &:hover {
        transform: scale(1.1, 1.1);
    }
    @media (max-width: 400px) {
        margin-right: 6vw;
        height: 10.4vw;
        width: 10.4vw;
    }
}

.footer {
    @media (max-width: 400px) {
        display: none;
    }
}


@font-face {
    font-family: Futurademic;
    src: url(assets/fonts/Futurademic.otf);
    
}
@font-face {
    font-family: Futurabookc;
    src: url(assets/fonts/Futurabookc.otf);
    
}
@font-face {
    font-family: "Yeseva One";
    src: url(assets/fonts/Yeseva_One.ttf);
    
}
@font-face {
    font-family: Futuramediumc;
    src: url(assets/fonts/Futuramediumc.otf);
    
}
@font-face {
    font-family: "Proxima Nova";
    src: url(assets/fonts/Proxima_Nova.ttf);
    
}